<!DOCTYPE html>
<html lang="es" class="has-background-light">
<head>
    <title>Entrega 3 BBDD</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar is-dark">
    <div class="navbar-brand">
        <img src="../images/logov2.png" width="85" alt="" class="navbar-item">
        <span aling = "center" style = "font-size: 40px;"class="navbar-item title has-text-weight-bold">CONSULTAS AEROLÍNEAS</span>
    </div>

    <div class="navbar-end">
        <form action="../funciones/logout.php" class="navbar-item field">
            <input type="submit" name="logout_button" value="Log out" class="button is-light"/>
        </form>
    </div>
</nav>

<br>
<br>
<div class="container my-6">