<!DOCTYPE html>
<html lang="es">
<head>
    <title>Entrega 3 BBDDa</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
    <div class="container">
        <div class="navbar-brand">
            <img src="../images/logov2.png" width="55" alt="" class="d-inline-block align-middle mr-2">
            <span aling = "center" style = "font-size: 40px;"class="text-uppercase font-weight-bold">Consultas Aerolíneas</span>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form action="../funciones/logout.php">
                    <input type="submit" name="logout_button" value="Log out"/>
                </form>
            </li>
        </ul>
    </div>
</nav>

<br>
<br>
